html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
/* http://www.jimmyscode.com/css-styling-for-kbd-tags/ */
.kbd {
  padding: 0.1em 0.6em;
  border: 1px solid #ccc;
  font-size: 11px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f7f7f7;
  color: #333;
  -moz-box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2), 0 0 0 2px #ffffff inset;
  -webkit-box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2), 0 0 0 2px #ffffff inset;
  box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2), 0 0 0 2px #ffffff inset;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  display: inline-block;
  margin: 0 0.1em;
  text-shadow: 0 1px 0 #fff;
  line-height: 1.4;
  white-space: nowrap;
}
.kbd-bar {
  width: 100%;
  padding-bottom: 20px;
}
.kbd-item {
  display: inline;
  padding-right: 10px;
}
.kbd-item:after {
  content: "•";
  padding-left: 10px;
}
.kbd-item:last-child::after {
  content: "" !important;
}
.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}
.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  padding-bottom: 15px;
}
@media (min-width: 1025px) {
  .mobile-only {
    display: none;
  }
}
