<!DOCTYPE html>
<html lang="en">

<head>
    <title>🐱🥁</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="./index.css">
    <link rel="icon" type="image/ico" href="./favicon.ico" sizes="32x32">
    <script src="https://cdn.jsdelivr.net/npm/hls.js@latest"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
</head>

<body>
    <div id="root">
        <div class="header">
            <!-- just chillin -->
        </div>
        <div v-if="!bongocat">
            <img src="bongocat.gif" id="loading-bongocat" />
            <p>loading...</p>
        </div>
        <video v-if="bongocat" ref="bongocat" autoplay="autoplay" :controls="videoControls" :src="bongocat.src.S"
            :style="{ width: videoSize + 'vw', height: videoSize + 'vh'}">
        </video>
        <div id="footer" v-if="showFooter">
            <button v-on:click="slapTheBongo" class="kbd mobile-only" style="font-size: 3rem; margin-bottom: 10px">BONGO</button>
            <p v-if="!autoplayWarningSeen" class="desktop-only">you may need to press <span class="kbd">space</span>
                once to get the party
                started!</p>
            <p v-if="bongocat">
                <a :href="bongocat.original.S" target="_blank" id="source">original source</a>
                submitted by
                <a :href="`https://twitter.com/${bongocat.submitter.S}`" id="submitter" target="_blank">@{{
                    bongocat.submitter.S }}</a></p>
            <ul class="kbd-bar desktop-only">
                <li v-for="k in keys" class="kbd-item"><span class="kbd">{{ k[0] }}</span> {{ k[1] }} </li>
            </ul>
            <div>
                <a href="https://twitter.com/nexuist?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="true">Follow
                    @nexuist</a>
                <a href="https://twitter.com/intent/tweet?button_hashtag=bongocat&ref_src=twsrc%5Etfw" class="twitter-hashtag-button"
                    data-url="https://bongocat.io" data-related="nexuist" data-show-count="false">Tweet #bongocat</a>
            </div>
            <div>
                made with ❤️ by andi
                <br />
                <a href="https://bongo.cat" target="_blank">try bongo.cat</a>
                <a href="mailto:submissions@bongocat.io?subject=BONGOCAT!&body=Please%20follow%20the%20format%20below.%20This%20email%20will%20be%20automatically%20scanned%20and%20you%20will%20receive%20a%20response%20when%20your%20submission%20is%20accepted.%20Thank%20you!%0A%0A.mp4%20%2F%20YouTube%20direct%20link%3A%0AOriginal%20source%3A%0AYour%20Twitter%20username%20(for%20credit)%3A%0AAnything%20to%20plug%3F%20(may%20appear%20on%20page%20when%20your%20submission%20is%20viewed)%3A%0A%0ATweet%20%40nexuist%20for%20any%20questions."
                    target="_blank">submit a bongocat</a>
            </div>
        </div>
        <div id="fake-footer" v-if="!showFooter">
            <!-- looking through my code? tell me how your day's going! -> @nexuist -->
            <!-- if you're wondering why this fake footer is needed, it's bc flex only gives you top/center/bottom when you have 3 divs visible and i'm too lazy to work around that -->
        </div>
    </div>
    <script src="./bongo.js" defer></script>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</body>

</html>