html {
  width: 100%;
  height: 100%;
}

body {
  padding-top: 5%;

  text-align: center;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

a {
  text-decoration: none;
  color: #6bf;
}

a:visited {
  color: #666eff;
}

a:hover {
  text-decoration: underline;
}

.information {
  margin-top: 5%;
}

.loading__image {
  border: 1px solid black;
  border-radius: 40px;
  padding: 30px;
}

.loading__text {
  display: block;
  margin-top: 1em;
}

.how-tos {
  margin: 0;
  padding: 0;

  list-style: none;
}

.how-to {
  padding: 2vmin 0;
}

.how-to--desktop {
  display: none;
}

.controls {
  padding-bottom: 20px;
}

.control {
  display: inline;
}

.control:not(:last-of-type) {
  padding-right: 10px;
}

.control:not(:last-of-type)::after {
  content: "•";

  padding-left: 10px;
}

/* http://www.jimmyscode.com/css-styling-for-kbd-tags/ */
.control__key {
  display: inline-block;

  margin: 0 0.1em;
  border: 1px solid #ccc;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  padding: 0.1em 0.6em;
  background-color: #f7f7f7;
  -moz-box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2), 0 0 0 2px #ffffff inset;
  -webkit-box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2), 0 0 0 2px #ffffff inset;
  box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2), 0 0 0 2px #ffffff inset;

  white-space: nowrap;
  line-height: 1.4;

  text-shadow: 0 1px 0 #fff;
  font-size: 11px;
  color: #333;
}

.control__key--button {
  text-transform: uppercase;
}

.footer__link:not(:last-of-type) {
  margin-right: 20px;
}

@media (min-width: 1025px) {
  .how-to--desktop {
    display: block;
  }

  .how-to--mobile {
    display: none;
  }
}
